body{

    margin: 0px;
    padding: 0px;

}

header{

    width: 100%;
    height: 100px;
    background-color: #006666;

}

#header_content{

    width: 1400px;
    height: 90px;
    padding-top: 10px;
    margin: auto;
    /* background-color: #FF0000; */
    background-color: #006666;

}

#icon{

    width: 80px;
    height: 80px;
    float: left;
    margin-left: 50px;
    /* background-color: darkblue; */

}

#icon > img{

    width: 80px;
    height: 80px;

}

#title_cms{

    width: 900px;
    height: 70px;
    margin-left: 25px;
    padding-top: 10px;
    float: left;
    /* background-color: darkred; */

}

.title_font{

    font-family: arial;
    font-size: 40pt;
    color: #FFFFFF;

}

#login{

    width: 250px;
    height: 70px;
    margin-top: 5px;
    margin-left: 25px;
    float: left;
    /* background-color: darkgreen; */

}

#login_text{

    width: 140px;
    height: 55px;
    float: left;
    padding-top: 5px;
    font-family: Arial;
    font-size: 18pt;
    color: #FFFFFF;
    /* background-color: yellow; */

}

#logout_icon{

    width: 60px;
    height: 60px;
    margin: 5px;
    float: left;
    /* background-color: #FF0000; */

}

#logout_icon > img{

    width: 60px;
    height: 60px;

}

#main{

    width: 100%;
    min-height: 1200px;
    height: auto;
    background-color: #a0dbd3;

}

#main_content{

    width: 1400px;
    min-height: 1200px;
    height: auto;
    margin: auto;
    background-color: #a0dbd3;

}

nav{

    width: 200px;
    min-height: 1200px;
    height: auto;
    float:left;
    /* background-color: #000000; */

}

#nav_content{

    width: 200px;
    min-height: 200px;
    height: auto;
    margin-top: 20px;
    position: fixed;
    background-color: #FFFFFF;

}

.itens_menu{

    width: 200px;
    height: 50px;
    /* margin-top: 20px; */
    /* background-color: #969696; */
    font-family: Arial;
    font-size: 16pt;
    color: #000000;
    text-align: left;

}

.itens_menu:hover + .subitens_menu{

    display: block;

}

.subitens_menu:hover{

    display: block;

}

.subitens_menu{

    width: 200px;
    height: 50px;
    /* margin-top: 20px; */
    background-color: #a0dbd3;
    font-family: Arial;
    font-size: 16pt;
    color: #000000;
    display: none;

}

.item_logo{

    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    /* background-color: pink; */
    float: left;

}

.item_logo > img{

    width: 40px;
    height: 40px;

}

.item_text{

    width: 140px;
    height: 35px;
    margin-left: 5px;
    padding-top: 15px;
    padding-left: 10px;
    float: left;
    /* background-color: purple; */

}

#content{

    width: 1200px;
    min-height: 1200px;
    height: auto;
    float: left;
    /* background-color: yellow; */

}

.title_content{

    width: 760px;
    height: 70px;
    float: left;
    margin-top: 20px;
    margin-left: 150px;
    padding-top: 30px;
    padding-left: 70px;
    font-family: Arial;
    font-size: 25pt;
    text-align: center;
    /* background-color: orange; */

}

#table_content{

    width: 900px;
    height: 90px;
    padding: 10px;
    font-family: Arial;
    font-size: 15pt;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-collapse: collapse;

}

#table_title{

    background-color: #006666;
    color: #FFFFFF;

}

.column_content{

    font-weight: normal;

}

.column_content > img{

    width: 40px;
    height: 40px;
    margin-left: 20px;
    float: left;
    cursor: pointer;

}

tr:hover {

    background-color: #DDDDDD;

}

.buttons{

    width: 70px;
    height: 40px;
    margin-top: 50px;
    font-size:11pt;
    background-color: #00bf29;
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;

    /* float: left; */

}

td{

    padding: 15px;
    border-bottom: 1px solid #ddd;

}

#btn_cancelar{

    background-color: #bf0000;

}

footer{

    width: 100%;
    height: 150px;
    background-color: #006666;

}

.title_input{

    width: 190px;
    height: 35px;
    padding-top: 5px;
    padding-left: 10px;
    /* background-color: blue; */

}

.input_text{

    width: 590px;
    height: 50px;
    font-size: 16pt;
    padding-left: 10px;
    /* border-radius: 20px; */
    border: 0px;

}

.input_radio{

    width:20px;
    height:20px;
    float: left;
    margin-top:20px;
    margin-left: 40px;

}

.radio_title{

    width: 70px;
    height: 30px;
    margin-top:18px;
    float: left;
    font-size:16pt;

}

.line_input{

    width: 1050px;
    height: 100px;
    margin-left: 50px;
    margin-top: 10px;
    /* background-color: #000000; */

}


.content_input{

    width: 600px;
    height: 100px;
    margin-left: 30px;
    font-family: Arial;
    font-size: 18pt;
    float: left;
    color: #FFFFFF;
    /* background-color: red; */

}

.input_select{

    width: 400px;
    height: 50px;
    font-size: 16pt;
    padding-left: 10px;
    /* border-radius: 20px; */
    border: 0px;

}

#footer_content{

    width: 1400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #006666;
    /* background-color: yellow; */

}

.footer_text{

    width: 530px;
    height: 40px;
    margin-left: 120px;
    margin-top: 70px;
    color: #FFFFFF;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    float: left;

}

#login_content{

    width: 600px;
    height: 550px;
    padding-top: 50px;
    /* margin-top: 50px; */
    margin-left: auto;
    margin-right: auto;
    background-color: #006666;

}

#logo{

    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #000000; */

}

#logo > img{

    width: 150px;
    height: 150px;

}